<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only [navPush]="datePage" showWhen="ios">
      <ion-icon name="calendar"></ion-icon>
    </button>
    <ion-title>Расписание</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="refresh()">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <button ion-button icon-only [navPush]="datePage" hideWhen="ios">
        <ion-icon name="calendar"></ion-icon>
      </button>
      <button ion-button icon-only [navPush]="criteriaPage">
        <ion-icon name="people"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list class="list">

    <ion-card class="day" *ngFor="let day of timetable">
      <ion-card-header [ngClass]="{'today': isToday(day.date)}">
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-6 class="dayOfWeek">{{day.dayOfWeek}}</ion-col>
            <ion-col col-6 text-right>{{day.date}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content>

        <ion-grid *ngFor="let lesson of day.lessons" no-padding>
          <ion-row>

            <ion-col col-2>
              <ion-grid>
                <ion-row>
                  <ion-col class="number">{{lesson.number}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="time">{{lesson.time.from}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="time">{{lesson.time.to}}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>

            <ion-col col-10>
              <ion-grid>
                <ion-row class="name">
                  <ion-col>{{lesson.name}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-1>
                    <ion-icon name="pin"></ion-icon>
                  </ion-col>
                  <ion-col col-5>
                    {{withPlaceholder(lesson.room)}}
                  </ion-col>
                  <ion-col col-1>
                    <ion-icon name="flask"></ion-icon>
                  </ion-col>
                  <ion-col col-5>
                    {{withPlaceholder(lesson.type)}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-1>
                    <ion-icon name="person"></ion-icon>
                  </ion-col>
                  <ion-col col-11>
                    {{withPlaceholder(lesson.teacher)}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-1>
                    <ion-icon name="people"></ion-icon>
                  </ion-col>
                  <ion-col col-11>
                    {{withPlaceholder(lesson.group)}}
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="lesson.note">
                  <ion-col col-1>
                    <ion-icon name="document"></ion-icon>
                  </ion-col>
                  <ion-col col-11>
                    {{lesson.note}}
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>

          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>

  </ion-list>
</ion-content>
